### 데이터를 만듭니다

In [1]:
import pandas as pd

In [2]:
data = {
    'bland': ['McDonald', 'Lotteria', 'BugerKing', "Mom's Touch", 'KFC', 'SHAKE SHACK'],
    'burger_name': ['McCrispy Delux Burger', 'T-Rex Burger', 'Double Cheese Burger', 'Thigh Flex Burger', 'Kentucky Chicken Burger', 'SHACK Burger'],
    'set_price': [7_900, 7_100, 10_500, 10_000, 7_900, 14_200],
    'rating': [4.5, 3.9, 4.2, 4.9, 4.0, None],
}

In [3]:
df_burger = pd.DataFrame(data)
df_burger

         bland              burger_name  set_price  rating
0     McDonald    McCrispy Delux Burger       7900     4.5
1     Lotteria             T-Rex Burger       7100     3.9
2    BugerKing     Double Cheese Burger      10500     4.2
3  Mom's Touch        Thigh Flex Burger      10000     4.9
4          KFC  Kentucky Chicken Burger       7900     4.0
5  SHAKE SHACK             SHACK Burger      14200     NaN

In [4]:
sub_data = {
    'country': ['미국', '한국', '미국', '한국', '미국', '미국'],
    'established': [1955, 1979, 1953, 2004, 1930, 2004]
}
df_burger_sub = pd.DataFrame(sub_data)
df_burger_sub

  country  established
0      미국         1955
1      한국         1979
2      미국         1953
3      한국         2004
4      미국         1930
5      미국         2004

#### 1. 데이터프레임의 제목을 한글('브랜드', '버거이름', '세트가격', '평점') 순으로 변경하세요.

In [5]:
## 1번. 답
df_burger.columns = []
df_burger

ValueError: Length mismatch: Expected axis has 4 elements, new values have 0 elements

#### 2. NaN 값을 평점의 평균값으로 채워넣으세요.

In [ ]:
## 2번. 답

#### 3. 두 데이터프레임을 합쳐서 하나의 데이터프레임으로 병합하세요.

In [ ]:
## 3번. 답

#### 4. 평점을 빼고 컬럼명에 '국가', '설립년도'로 변경하세요.

In [ ]:
## 4번. 답

#### 5. CSV로 저장하는 로직을 작성하세요.

In [ ]:
## 5번. 답