# 마크다운 예제
## 파이썬, 노트북 기본
### 소제목
#### 소소제목
##### 제목5
###### 제목6

일반 텍스트
- 목록 1
    1. 숫자목록1
    2. 숫자목록2

        <!-- 이미지 사이즈 조절불가 -->
        ![이미지](https://raw.githubusercontent.com/hugoMGSung/works-need-it-data-analysis/refs/heads/main/images/an001.png)

        <!-- 이미지 사이즈 조절이 가능한 HTML 태그형태 권장 -->
        <img src='https://raw.githubusercontent.com/hugoMGSung/works-need-it-data-analysis/refs/heads/main/images/an001.png' width='700'>

In [13]:
# 주피터노트북에서는 Ctrl+F5로 실행하지 않음!!!!!
# Ctrl + Enter
print('Hello, Python')

Hello, Python

### 변수, 자료형

In [14]:
# 자료형과 변수 선언에 제약이 없음
val = 10
print(val)
print(val + 10) # 출력셀에 출력을 여러개 출력하고 싶으면 print()를 반드시 써야하고
## 그외에는 변수명만 적으면

10
20

In [24]:
val = 'String'
val

'String'

In [21]:
## 엄청 큰수도 가능
val = 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999
val

999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999

In [26]:
val = 3.141592

In [27]:
type(val)

float

### 연산
- 사칙연산 - + - * / // % ...
- 논리연산 - == != > < >= <= ...
- 진수 - 0o70(8진수), 0x120(16진수)

In [29]:
val = 0xFF
val

255

#### 문자열 연산

In [33]:
s1 = 'Hello Python'
s1 = "Hello Python"
s1 = "Hello 'Python'"
s1 = 'Hello "Python"'  ## 홑따옴표, 쌍따옴표 모두 사용가능해서 \', \" 를 잘 사용안함

s1

'Hello "Python"'

In [46]:
# 파이썬 인덱싱, 특징 -인덱스 사용가능
s1[13]
s1[7]

'P'

In [35]:
len(s1)

14

In [45]:
## 같은 단어나 문자열이 있는 지 확인, -1은 없음. 해당 인덱스번호
s1.find('P')

7

In [51]:
# join함수 문자열을 각 문자마다 연결
','.join(s1)

'H,e,l,l,o, ,",P,y,t,h,o,n,"'

In [54]:
s1.upper()

'HELLO "PYTHON"'

In [55]:
s1.lower()

'hello "python"'

In [56]:
s2 = '  Hello, Python   '
s2.lstrip()

'Hello, Python   '

In [57]:
s2.rstrip()

'  Hello, Python'

In [58]:
s2.strip()

'Hello, Python'

In [60]:
s3 = 'Python is difficult.'
s3

'Python is difficult.'

In [61]:
s3.replace('difficult', 'easy')

'Python is easy.'

In [64]:
s3 * 3

'Python is difficult.Python is difficult.Python is difficult.'

In [65]:
s3 + 'test'

'Python is difficult.test'

#### 리스트
- 사칙연산 중 +(리스트 결합), *(수입력 반복) 만 가능

In [68]:
## 리스트 - 파이썬 배열(x)
a = [3, 4, 5]
b = [1, 2, 3]

In [70]:
a * 3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [72]:
a + b

[3, 4, 5, 1, 2, 3]

In [78]:
a[2]

5

In [81]:
## : 뒤 인덱스는 -1의 인덱스까지 추출
(a + b)[1:5]

[4, 5, 1, 2]

In [79]:
c = [[1, 2], [3, 4]]
c

[[1, 2], [3, 4]]

### 딕셔너리
- 정보시스템 개발 때 가장 중요한 데이터형식 중 하나
- json과 1:1 매칭됨

In [83]:
dic = {'name':'Sung', 'phone':'01066837732', 'age':48, 'pet': ['piggy', 'dongli']}
dic

{'name': 'Sung', 'phone': '01066837732', 'age': 48, 'pet': ['piggy', 'dongli']}

In [84]:
type(dic)

dict

In [86]:
dic['pet']

['piggy', 'dongli']

In [87]:
dic.keys()

dict_keys(['name', 'phone', 'age', 'pet'])

In [88]:
dic.values()

dict_values(['Sung', '01066837732', 48, ['piggy', 'dongli']])

### 집합은 리스트와 동일
- 중복을 제거해서 사라짐(!)
- 파이썬에 생각보다 많이 사용이 안됨

In [89]:
set1 = set([1, 2, 3, 5, 5, 6, 9, 1])
set1

{1, 2, 3, 5, 6, 9}

In [90]:
set2 = set([3, 5, 7])

In [91]:
set1 & set2

{3, 5}

In [93]:
set1.union(set2)

{1, 2, 3, 5, 6, 7, 9}

### 흐름제어

#### 조건문 if문

In [99]:
score = int(input('점수를 입력하세요 > '))

if (score >= 90): # if문 안으로 들어간다!
    if (score >= 96) :
        print('A++')
    elif (score >= 94):
        print('A+')
    else:
        print('A')
elif (score >= 80): 
    print('B')    
elif (score >= 70):
    print('C')
else:
    print('학교 나오지마!!')

A

#### 반복문
- for
- while

In [100]:
vals = ['one', 'two', 'three', 'oh']

for i in vals: # i가 인덱스가 아니고, 해당 값(요소)
    print(i)

one
two
three
oh

In [104]:
for i, val in enumerate(vals): # 인덱스도 같이 가져오고 싶으면 enumerate() 열거함수를 같이 사용
    print(i, val)

0 one
1 two
2 three
3 oh

In [105]:
## 변수값을 사용하지 않을경우 변수자리에 _ 를 사용
for _, val in enumerate(vals): # 인덱스도 같이 가져오고 싶으면 enumerate() 열거함수를 같이 사용
    print(val)

one
two
three
oh

In [107]:
j = 0
while j < 5:
    j += 1 # j++은 없음
    print('*' * j)

*
**
***
****
*****

In [115]:
## 구구단
# range(1, 9) 범위를 표시 = 1....8까지
for x in range(2, 10):
    # print(f'{x}단 시작')
    for y in range(1, 10):
        print(f'{x} x {y} = {x*y}', end='\t')
    print()

2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36
5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25	5 x 6 = 30	5 x 7 = 35	5 x 8 = 40	5 x 9 = 45
6 x 1 = 6	6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 5 = 30	6 x 6 = 36	6 x 7 = 42	6 x 8 = 48	6 x 9 = 54
7 x 1 = 7	7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 5 = 35	7 x 6 = 42	7 x 7 = 49	7 x 8 = 56	7 x 9 = 63
8 x 1 = 8	8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 5 = 40	8 x 6 = 48	8 x 7 = 56	8 x 8 = 64	8 x 9 = 72
9 x 1 = 9	9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 5 = 45	9 x 6 = 54	9 x 7 = 63	9 x 8 = 72	9 x 9 = 81

### 내장함수 built-in function
- 파이썬이 제공하는 미리 만들어놓은 함수들
    - tuple(x)
    - type(x)
    - max(iterable x, 리스트, 셋, ...)
    - min(iterable x)
    - pow(x, y) x의 y승
    - print(), input()
    - range(x), range(x, y), range(x, y, z)
    - len(s)
    - sorted(iterable x)

In [125]:
list(range(0, 9, 2))

[0, 2, 4, 6, 8]